
<p class="show_text"><strong>Title:</strong> <%= @book.title %> </p>

<p class="show_text"><strong>Body:</strong> <%= @book.body %> </p>

<p><%= link_to "Edit", "/books/#{@book.id}/edit" %> | <%= link_to "Back", "/books" %></p>